body {
    background-color: #f8f9fa; /* Light background color */
}

.card {
    background-color: #ffffff; /* White background for card */
    transition: transform 0.2s; /* Smooth transition */
}

.card:hover {
    transform: scale(1.02); /* Scale effect on hover */
}

.btn {
    font-size: 0.9rem; /* Smaller font size for the button */
    padding: 0.5rem 1rem; /* Adjust padding to reduce button size */
    transition: background-color 0.2s; /* Smooth transition for button */
}

.btn:hover {
    background-color: #28a745; /* Darker green on hover */
}


h1, h2 {
    color: #343a40; /* Dark text color */
}

pre {
    background-color: #f8f9fa; /* Light background for preformatted text */
    border-radius: 5px; /* Rounded corners */
}
